<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>HTML FORMS</h2>

    <form action="/submit" method="post">
      <label for="Science">Science:</label><br />
      <input
        class="inp"
        type="text"
        id="science"
        name="science"
        value="0"
      /><br />
      <label for="Science">Maths:</label><br />
      <input class="inp" type="text" id="maths" name="maths" value="0" /><br />
      <label for="Science">C:</label><br />
      <input class="inp" type="text" id="c" name="c" value="0" /><br />
      <label for="Science">Data Science:</label><br />
      <input
        class="inp"
        type="text"
        id="datascience"
        name="datascience"
        value="0"
      /><br />
      <input class="sub" type="submit" value="Submit" />
    </form>
  </body>
</html>
